*
{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box; 
}
html
{
    scroll-behavior: smooth;
}
img
{
    width: 100%;
    display: flex;
}
a
{
    text-decoration: none;
    color: #ffff;
    z-index: 10000;
}
a:active
{
    
    color: #ffff;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}
nav
{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;  
}
.nav-logo
{
    max-width: 100px;
}
.nav-links
{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.link a
{
    position: relative;
    padding-bottom: 0.75rem;
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
}
.link a::after
{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 120, 255, 0.9);
    transition: all 0.2s ease;
}
.link a:hover::after
{
    width: 70%;
}
.btn
{
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: #ffff;
    background-color:rgba(0, 120, 255, 0.9);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
     
}
.btn:hover
{
    background-color: rgba(0, 120, 255, 0.7);
}
.btn:active {
    border-radius: 10px;
    background-color: rgba(0, 120, 255, 0.4);
}
.btnprojects
{
        position: relative;
        display: block;
        margin-left: auto;
        padding: 10px;
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: 400;
        color: #ffff;
        background-color: rgba(0, 120, 255, 0.9);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
}
.btnprojects:hover
{
    background-color: rgba(0, 120, 255, 0.7) ;
}
.btnprojects:active
{
    border-radius: 10px;
    background-color: rgba(0, 120, 255, 0.4);
}
.container
{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
    color: transparent;
}
header
{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
header .content
{
    color: transparent;
}
header .content h4
{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}
header .content h1
{
    color: #ffff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}
header .content h1 span
{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}
header .content h1 span:hover
{
    -webkit-text-fill-color: rgb(35, 101, 224);
}
header .content p
{
    margin-bottom: 2rem;
    color: #ccc;
}
header .image
{
    position: relative;
}
header .image::after {
    content: "";
    position: absolute;
    background-color: rgb(63, 137, 255);
    width: 120px;
    height: 120px;
    filter: blur(140px);
    right: 20%;
    bottom: 50%;
    z-index: -1000;
}
header .image img
{
    max-width: 600px;
    min-width: 400px;
    margin: auto;
}
section .header
{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.skills
{
    margin-top: 4rem;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.skills .card::after
{
    content: "";
    position: absolute;
    background-color: rgb(63, 137, 255);
    width: 120px;
    height: 120px;
    filter: blur(140px);
    left: 0%;
    top: 100%;
    z-index: -1000;
}
.skills .card
{
    background-color: rgba(39, 39, 42, 1);
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    opacity: 80%;
    transition: all 0.3s ease;
}
.skills .card:hover
{
    background-color: rgba(39, 39, 42, 1);
    background-color: rgba(91, 91, 115, 0.6);
    border-color: #ffff;
    opacity: 100%;
      
}
.skills .card span
{
    display: inline-block;
    background-color: rgb(35, 101, 224);
    opacity: 100%;
    padding: 2px 9px;
    justify-items: center;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.skills .card span .bx 
{
    position:relative;
    color: #ffffff; 
    text-align: center;
    margin: 5px;
    
}
.skills .card h4
{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600
}
.skills .card p
{
    color: #fff;
    margin-bottom: 1rem;
}








.projects 
{
    margin-top: 4rem;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 2rem;
}

.projects .card 
{
    background-color: rgba(39, 39, 42, 1);
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    opacity: 80%;
    transition: all 0.3s ease;
}

.projects .card:hover
{
    background-color: rgba(39, 39, 42, 1);
    background-color: rgba(91, 91, 115, 0.6);
    border-color: #ffff;
    opacity: 100%;

}

.projects .card span 
{
    display: inline-block;
    opacity: 90%;
    padding: 2px 9px;
    justify-items: center;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 14px -2px rgba(35, 101, 224, 1);
    
}
.projects .card span:hover {
    display: inline-block;
    opacity: 100%;
    padding: 2px 9px;
    justify-items: center;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    background-color: #181818;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 14px 1px rgb(138, 175, 244);
    

}

.projects .card span .bx 
{
    position: relative;
    color: #ffffff;
    text-align: center;
    margin: 5px;
}

.projects .card h4 
{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600
}

.projects .card p 
{
    color: #fff;
    margin-bottom: 1rem;
}

.contacts
{
    margin-top: 4rem;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: transparent;
    
}
.contacts h2
{
    
    color: white;
    font-weight: 200;
    
    
}
.contacts form
{
    background-color: rgba(65, 65, 79, 0.7);
    max-width: 600px;
    border-radius: 15px;
    color: #fff;
    size: 2em;
    font-size: 24px;
    padding: 1em;
}
.contacts form span
{
    font-size: 20px;
}
input[type='text']
{
    border: 2px solid #026EE8;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 5px;
}
input[name='comment']
{
    max-width: 600px;
    min-height: 100px;
}
input[type='submit']
{
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: #ffff;
    background-color: rgba(0, 120, 255, 0.9);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-inline-start: 10px;
}
input[type='reset'] 
{
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    color: #ffff;
    background-color: rgba(0, 120, 255, 0.9);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-inline-start: 10px;
}
input[type='reset']:hover 
{
    background-color: rgba(0, 120, 255, 0.7);
}

input[type='reset']:active 
{
    border-radius: 10px;
    background-color: rgba(0, 120, 255, 0.4);
}
input[type='submit']:hover
{
        background-color: rgba(0, 120, 255, 0.7);
}
input[type='submit']:active 
{
    border-radius: 10px;
    background-color: rgba(0, 120, 255, 0.4);
}
.contactmedia
{
    background-color: rgba(65, 65, 79, 0.7);
    max-width: 600px;
    border-radius: 15px;
    color: #fff;
    size: 2em;
    font-size: 24px;
    padding: 1em;
    
}
.contactmedia ul
{
    text-decoration: none;
    list-style-type: none;
}
.contactmedia ul li
{
    margin: 20px 0;
    font-size: 22px;
    font-weight: 100;
}

.contactmedia ul li a
{
    color: #fff;
}
.contactmedia h3
{
    
    padding-top: 40px;
    font-weight: 100;
    font-size: 24px;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 1) ;
}


footer
{
    position: relative;
    display: flex;
    background-color: #181818 ;
    transition: all 0.3s ease-in-out;
    color: #fff;
}
footer:hover
{
    background-color: #353535;
}
footer p
{
    padding: 5px;
    color: #fff;
    padding-inline: 10px;
    text-decoration: none;
}
footer p a
{
    color: #fff;
}